<a href="https://colab.research.google.com/github/sreent/deep-learning/blob/main/credit_risk_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

FILE_PATH = 'http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'

HEADERS = ['Status of existing checking account', 'Duration in month', 'Credit history',
           'Purpose','Credit amount', 'Savings account/bonds', 'Present employment since',
           'Installment rate in percentage of disposable income', 'Personal status and sex',
           'Other debtors / guarantors', 'Present residence since', 'Property', 'Age in years',
           'Other installment plans', 'Housing', 'Number of existing credits at this bank',
           'Job', 'Number of people being liable to provide maintenance for', 'Telephone', 'foreign worker', 
           'Cost Matrix(Risk)']

TARGET_VARIABLE = 'Cost Matrix(Risk)'


VALUE_MAPPING = {
    'Status of existing checking account': {
        'A14': 'no checking account', 'A11': '<0 DM', 'A12': '0 <= <200 DM', 
        'A13': '>= 200 DM'
    },
    
    'Credit history': {
        'A34': 'critical account', 'A33': 'delay in paying off',
        'A32': 'existing credits paid back duly till now',
        'A31': 'all credits at this bank paid back duly',
        'A30': 'no credits taken'
    },
                 
    'Purpose': {
        'A40': 'car (new)', 'A41': 'car (used)', 'A42': 'furniture/equipment', 
        'A43': 'radio/television', 'A44': 'domestic appliances', 'A45': 'repairs', 
        'A46': 'education', 'A47' : 'vacation', 'A48': 'retraining', 'A49': 'business',
        'A410': 'others'
    },

    'Saving_account': {
        'A65': 'no savings account', 'A61': '<100 DM',
        'A62': '100 <= <500 DM', 'A63': '500 <= < 1000 DM', 'A64': '>= 1000 DM'
    },

    'Present_employment': {
        'A75': '>=7 years', 'A74': '4<= <7 years',  'A73': '1<= < 4 years', 
        'A72': '<1 years', 'A71': 'unemployed'
    },

    'Personal_status_and_sex': {
        'A95': 'female:single', 'A94': 'male:married/widowed', 'A93': 'male:single', 
        'A92': 'female:divorced/separated/married', 'A91': 'male:divorced/separated'
    },

    'Other_debtors_guarantors': {
        'A101': 'none', 'A102': 'co-applicant', 'A103': 'guarantor'
    },

    'Property': {
        'A121': 'real estate', 'A122': 'savings agreement/life insurance', 
        'A123': 'car or other', 'A124': 'unknown / no property'
    },

    'Other_installment_plans': {
        'A143': 'none', 'A142': 'store', 'A141': 'bank'
    },
    
    'Housing': {
        'A153': 'for free', 'A152': 'own', 'A151': 'rent'
    },

    'Job': {
        'A174': 'management/ highly qualified employee', 
        'A173': 'skilled employee / official', 'A172': 'unskilled - resident', 
        'A171': 'unemployed/ unskilled  - non-resident'
    },
    
    'Telephone': {
        'A192': 'yes', 'A191': 'none'
    },

    'foreign_worker': {
        'A201': 'yes', 'A202': 'no'
    }
}

In [ ]:
FILE_PATH = 'http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'

HEADERS = ['Status of existing checking account', 'Duration in month', 'Credit history',
           'Purpose','Credit amount', 'Savings account/bonds', 'Present employment since',
           'Installment rate in percentage of disposable income', 'Personal status and sex',
           'Other debtors / guarantors', 'Present residence since', 'Property', 'Age in years',
           'Other installment plans', 'Housing', 'Number of existing credits at this bank',
           'Job', 'Number of people being liable to provide maintenance for', 'Telephone', 'foreign worker', 
           'Cost Matrix(Risk)']

TARGET_VARIABLE = 'Cost Matrix(Risk)'

In [ ]:
VALUE_MAPPING = {
    'Status of existing checking account': {
        'A14': 'no checking account', 'A11': '<0 DM', 'A12': '0 <= <200 DM', 
        'A13': '>= 200 DM'
    },
    
    'Credit history': {
        'A34': 'critical account', 'A33': 'delay in paying off',
        'A32': 'existing credits paid back duly till now',
        'A31': 'all credits at this bank paid back duly',
        'A30': 'no credits taken'
    },
                 
    'Purpose': {
        'A40': 'car (new)', 'A41': 'car (used)', 'A42': 'furniture/equipment', 
        'A43': 'radio/television', 'A44': 'domestic appliances', 'A45': 'repairs', 
        'A46': 'education', 'A47' : 'vacation', 'A48': 'retraining', 'A49': 'business',
        'A410': 'others'
    },

    'Saving_account': {
        'A65': 'no savings account', 'A61': '<100 DM',
        'A62': '100 <= <500 DM', 'A63': '500 <= < 1000 DM', 'A64': '>= 1000 DM'
    },

    'Present_employment': {
        'A75': '>=7 years', 'A74': '4<= <7 years',  'A73': '1<= < 4 years', 
        'A72': '<1 years', 'A71': 'unemployed'
    },

    'Personal_status_and_sex': {
        'A95': 'female:single', 'A94': 'male:married/widowed', 'A93': 'male:single', 
        'A92': 'female:divorced/separated/married', 'A91': 'male:divorced/separated'
    },

    'Other_debtors_guarantors': {
        'A101': 'none', 'A102': 'co-applicant', 'A103': 'guarantor'
    },

    'Property': {
        'A121': 'real estate', 'A122': 'savings agreement/life insurance', 
        'A123': 'car or other', 'A124': 'unknown / no property'
    },

    'Other_installment_plans': {
        'A143': 'none', 'A142': 'store', 'A141': 'bank'
    },
    
    'Housing': {
        'A153': 'for free', 'A152': 'own', 'A151': 'rent'
    },

    'Job': {
        'A174': 'management/ highly qualified employee', 
        'A173': 'skilled employee / official', 'A172': 'unskilled - resident', 
        'A171': 'unemployed/ unskilled  - non-resident'
    },
    
    'Telephone': {
        'A192': 'yes', 'A191': 'none'
    },

    'foreign_worker': {
        'A201': 'yes', 'A202': 'no'
    }
}

In [23]:
# Load loan data from URL using pandas read_csv method
df = pd.read_csv(FILE_PATH, sep=" ", header=None)

# The data file is headless, i.e. without column names. Hence, we've to assign the column names to our data frame. 
df.columns = HEADERS

# Preview data to check if the column names are assigned properly and also the columns' variable types
print(df.head())

  Status of existing checking account  Duration in month Credit history  \
0                                 A11                  6            A34
1                                 A12                 48            A32
2                                 A14                 12            A34
3                                 A11                 42            A32
4                                 A11                 24            A33

  Purpose  Credit amount Savings account/bonds Present employment since  \
0     A43           1169                   A65                      A75
1     A43           5951                   A61                      A73
2     A46           2096                   A61                      A74
3     A42           7882                   A61                      A74
4     A40           4870                   A61                      A73

   Installment rate in percentage of disposable income  \
0                                                  4
1                                                  2
2                                                  2
3                                                  2
4                                                  3

  Personal status and sex Other debtors / guarantors  ...  Property  \
0                     A93                       A101  ...      A121
1                     A92                       A101  ...      A121
2                     A93                       A101  ...      A121
3                     A93                       A103  ...      A122
4                     A93                       A101  ...      A124

  Age in years  Other installment plans Housing  \
0           67                     A143    A152
1           22                     A143    A152
2           49                     A143    A152
3           45                     A143    A153
4           53                     A143    A153

  Number of existing credits at this bank   Job  \
0                                       2  A173
1                                       1  A173
2                                       1  A172
3                                       1  A173
4                                       2  A173

  Number of people being liable to provide maintenance for  Telephone  \
0                                                  1             A192
1                                                  1             A191
2                                                  2             A191
3                                                  2             A191
4                                                  2             A191

  foreign worker Cost Matrix(Risk)
0           A201                 1
1           A201                 2
2           A201                 1
3           A201                 1
4           A201                 2

[5 rows x 21 columns]

In [21]:
# Target columns
target = df[TARGET_VARIABLE]

# Reformat entries to be either 0 (not default) and 1 (default), instead of 1 and 2. 
# This format is preferred in case of binary classificaiton problem.
target = target - 1

# Preview if 
print("The target column is now re-valued from [1, 2] to", target.unique(), ".")

The target column is now re-valued from [1, 2] to [0 1] .

In [24]:
# Feature columns to be used as predictors
features = df.drop(columns=[TARGET_VARIABLE])

#
NUMERICAL_COLUMNS = ['Duration in month', 'Credit amount', 'Installment rate in percentage of disposable income',
                     'Present residence since', 'Age in years', 'Number of existing credits at this bank', 
                     'Number of people being liable to provide maintenance for']

In [25]:
features[NUMERICAL_COLUMNS].head()

,Duration in month,Credit amount,Installment rate in percentage of disposable income,Present residence since,Age in years,Number of existing credits at this bank,Number of people being liable to provide maintenance for
0,6,1169,4,4,67,2,1
1,48,5951,2,2,22,1,1
2,12,2096,2,3,49,1,2
3,42,7882,2,4,45,1,2
4,24,4870,3,4,53,2,2